/* Reset some default browser styles */
body,h2, ul, li, p {
    font-family: 'Times New Roman', Times, serif;
    color: #fff;
    text-align: left;
    margin: 0;
    padding: 0;
  }
h1{ font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    color: #fff;
    text-align: left;
    margin: 0;
    padding: 0;
}
  
  /* Basic styling for the entire page */
  body {
    font-family: 'Times New Roman', Times, serif;
    background-image: url(pexels-arnie-chou-1229042.jpg);
    
  }
  
 
  nav ul {font-family: 'Times New Roman', Times, serif;
     text-align: center;
    padding: 8px;
    list-style-type: none;
  }
  
  nav li {font-family: 'Times New Roman', Times, serif;
    color: #fff;
    display: inline;
    margin-right: 20px;
  }
  
  nav a {font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    
  }
  
  /* Styling for main content sections */
  main {font-family: 'Times New Roman', Times, serif;
    padding: 20px;
  }
  
 button{font-family: 'Times New Roman', Times, serif;
    background-color: darkorange;
    border-radius: 10px;
    padding: 20px;
 }
  /* Styling for the footer */
  footer {font-family: 'Times New Roman', Times, serif;
    text-align: center;
    padding: 10px;
    
    color: #fff;
  }
  .search{font-family: 'Times New Roman', Times, serif;
    text-align: right;
  }
  label{
    text-align: right;
  }